<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>


<ul class="users">
  <%= render @users %>
</ul>
<!-- Below is the un-refactored code that was replace by the above code -->
<!-- <ul class="users">
  <#% @users.each do |user| %>
    <#%= render('user', :user => user) %>
  <#% end %>
</ul>
 -->

<%= will_paginate %>